#demo1 .container{
    text-align:center;
    background: #d6d6d6;
}
#demo1 #center{
    color:#fff;
    font-size:20px;
}

#demo2 .container2{
    height:50px;
    background: #d6d6d6;
}
#demo2 #center2{
    width: 100px;
    background: #666;
    margin:0 auto;
    text-align: center
}

#demo3 .container3{
    height:50px;
    background: #d6d6d6;
    text-align: center
}
#demo3 .center3{
    display: inline-block;
    width: 100px;
    background: #666;
    text-align: center
}

#demo4 .container4{
    height:50px;
    background: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
}
#demo4 .center4{
    width: 100px;
    background: #666;

}

#demo5 .container5{
    height:200px;
    background: #d6d6d6;
    position: relative
}
#demo5 .center5{
    width: 100px;
    height: 100px;
    background: #666;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;

}

#demo6 .container6{
    height:200px;
    background: #d6d6d6;
    position: relative
}
#demo6 .center6{
    width: 100px;
    height: 100px;
    background: #666;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

#demo7 .container7{
    height:200px;
    background: #d6d6d6;
    position: relative
}
#demo7 .center7{
    width: 100px;
    height: 100px;
    background: #666;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);

}

#demo8 .container8{
    height:200px;
    background: #d6d6d6;
    display: table-cell;
    text-align:center;
    vertical-align:middle;
}
#demo8 .center8{
    background: #666;
}

#demo9 .container9{
    height:200px;
    background: #d6d6d6;
    position:relative;
}
#demo9 .center9{
    background: #666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#demo10 .container10{
    height:200px;
    background: #d6d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
}
#demo10 .center10{
    background: #666;

}